---
import { getCollection } from "astro:content";

const lastPosts = (await getCollection("blog")).reverse().slice(0, 2);
---

<article class="flex flex-col gap-12" aria-labelledby="latest-posts-heading">
    <div class="flex flex-row content-center">
        <h3
            id="latest-posts-heading"
            class="flex-grow text-lg dark:text-neutral-100 text-neutral-950"
        >
            Latest posts
        </h3>
        <a
            class="hover:text-neutral-950 dark:hover:text-neutral-100 cursor-pointer underline decoration-dashed underline-offset-8 transition-colors duration-300"
            href="/blog"
            aria-label="See all blog posts"
        >
            See all posts
        </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        {
            lastPosts.length === 0 ? (
                <p class="text-neutral-950 dark:text-neutral-100">
                    No posts found.
                </p>
            ) : (
                lastPosts.map((post) => (
                    <a
                        class="flex flex-col gap-5 content-center rounded-lg p-5 border border-neutral-400 hover:border-neutral-950 dark:hover:border-neutral-100 duration-300 hover:-translate-y-2"
                        href={`/blog/${post.slug}/`}
                        aria-label={`Read more about ${post.data.title}`}
                    >
                        <img
                            class:list={["rounded-lg", "w-full"]}
                            src={post.data.image.url}
                            alt={post.data.image.url}
                            width="300"
                            height="200"
                            loading="eager"
                        />

                        <div class="flex flex-col gap-5">
                            <div class="flex flex-row">
                                <h4 class="text-neutral-950 dark:text-neutral-100 flex-grow">
                                    {post.data.title}
                                </h4>
                                <p class="text-neutral-500 dark:text-neutral-400">
                                    {new Date(
                                        post.data.pubDate,
                                    ).toLocaleDateString("en-US", {
                                        year: "numeric",
                                        month: "long",
                                        day: "numeric",
                                    })}
                                </p>
                            </div>

                            <p class="truncate">{post.data.description}</p>
                        </div>
                    </a>
                ))
            )
        }
    </div>
</article>
